<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please give us user location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need to kepp track you to give an awareness about Covid19</string>
	<key>NSLocationUsageDescription</key>
	<string>we need your location to protect from covid19 patients</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please give your location</string>
	<key>NSCameraUsageDescription</key>
	<string>Using camera</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face id</string>
</dict>
</plist>
